# don't include local configs
*local*
!nvim/after/plugin/local.lua

nvim/plugin
nvim/undo
nvim/backup

hg/blackbox.log*
hg/dirstate
hg/wcache
hg/undo*

# bin scripts need to be allowlisted
bin/*
bin/*/
!bin/dotfiles_install.sh
!bin/dotfiles_update.sh
!bin/startup.sh
