# don't include local configs
*local*

nvim/plugged
nvim/undo
nvim/backup

hg/blackbox.log
hg/wcache

# bin scripts need to be allowlisted
bin/*
bin/*/
!bin/dotfiles_install.sh
!bin/dotfiles_update.sh
!bin/startup.sh
