[submodule "zsh-histdb"]
  path = zsh/custom_plugins/zsh-histdb
  url = https://github.com/larkery/zsh-histdb
[submodule "tpm"]
  path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submodule "tmux-cpu"]
  path = tmux/plugins/tmux-cpu
  url = https://github.com/tmux-plugins/tmux-cpu
[submodule "tmux-sensible"]
  path = tmux/plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux-yank"]
  path = tmux/plugins/tmux-yank
  url = https://github.com/tmux-plugins/tmux-yank
