# don't include local configs
*local*
!nvim/after/plugin/local.lua

tmux/plugins/*

nvim/undo
nvim/backup
nvim/lazy-lock.json

hg/blackbox.log*
hg/dirstate
hg/wcache
hg/undo*

# bin scripts need to be allowlisted
bin/*
bin/*/
!bin/dotfiles_install.sh
!bin/dotfiles_update.sh
!bin/startup.sh
!bin/pokemon-colorscripts*
!bin/cutefetch*
!bin/i3-battery-popup
!bin/legacy_to_standard_iid.sh
